.about-image {
  height: auto;
  width: 50%;
  display: block;
  margin: 10px auto;
  border-radius: 50%;
}

.about-text {
  color: gray;
  font-size: 20px;
  font-weight: 300;
  font-style: oblique;
  text-align: center;
}

.about-description {
  color: gray;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}